---
// frontMatter:
import Sidebar from '../components/Sidebar.astro'
import Editor from '../components/Editor.astro'
---

<main class="container">
    <Sidebar />
<Editor />
</main>
<style>
    .container {
        display: flex;
        height: 100vh;
        width: 100%;
        overflow: hidden;
     
    }
</style>